---

- name: Build an image with the docker_image module puar
  hosts: dockerhost
  user: ubuntu
  gather_facts: no

#######################Install Docker if no docker in destination hosts################################################
#  pre_tasks:
#  - name: install docker
#    command: apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
#    become: yes
#
#  - name: add deb repo
#    command: sudo touch /etc/apt/sources.list.d/docker.list
#    become: yes
#
#  - lineinfile: dest="/etc/apt/sources.list.d/docker.list" line="{{item}}"
#    with_items:
#      - "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
#    become: yes
#
#  - name: apt update
#    apt: update_cache=yes
#    become: yes
#
#  - apt: name=docker-engine state=present
#    become: yes
#################################fix terpakai#######################################
  roles:
    - build_docker_image
