---
- name: upload the site directory to the docker host
  synchronize: src=roles/build_docker_image/templates dest=/home/ubuntu/diamun

- name: build the image
  command: docker build -t nginx_python_12345:latest /home/ubuntu/diamun/templates
  become: yes

- name: run the site in a docker container
  docker:
    name: container_python_nginx
    image: "nginx_python_12345:latest"
    state: reloaded
    publish_all_ports: yes
  become: yes

- name: Log into DockerHub#
  docker_login:
    username: numaid
    password: mHb4Qe;m
    email: diamun.fs@gmail.com
  become: yes

- name: Tag and push to docker hub
  docker_image:
    name: nginx_python_12345
    repository: numaid/dockernginxpython
    tag: latest
    push: yes
  become: yes
  
